
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Basic Styles 
ul {
	padding-left: 10px;
	li {
		list-style-type: none;
	}
}


// Main Css Stylesheet
#content {
    min-height: 600px;
    background-color: #fff;
    padding: 2em;
}

#footer {
    margin-top: 2em;
    background-color: #FFF;
    padding: 2em;
}

.account-image {
    max-width: 100px;
}